<?xml version="1.0"?>

<model>
  <name>atextramp</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Rachel Chiu</name>
    <email>hcc15@ic.ac.uk</email>
  </author>

  <description>
    An asphalt textured plane with test obstacles.
  </description>

</model>
